<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES"/>



    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <application
        android:name=".ApplicationSetUp.StartUp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MAD24P03Team2"
        android:windowSoftInputMode="adjustPan"
        tools:targetApi="31">
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="sg.edu.np.mad.mad24p03team2.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        <activity
            android:name=".LogoutAnimate"
            android:exported="false" />
        <activity
            android:name=".LoginAnimate"
            android:exported="false" />
        <activity
            android:name=".DietConstraintSetup"
            android:exported="false"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".LogoutAnimate"
            android:exported="false" />
        <activity
            android:name=".LoginAnimate"
            android:exported="false" />
        <activity
            android:name=".DietConstraintSetup"
            android:exported="false"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".DietConstraintActivity"
            android:exported="false" />
        <activity
            android:name=".WebViewActivity"
            android:exported="false" />
        <activity
            android:name=".DisclaimerActivity"
            android:exported="false" />
        <activity
            android:name=".ResetPasswordActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".SecuritySetupActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ForgotPswdSecurityActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ForgotPasswordActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".EditProfile"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ChangePassword"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".AccountPage"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".MainActivity2"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ProfileActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".SignupActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".LoginActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".SelectionActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".SelectionActivity2"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".SelectionActivity3"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />


        <receiver
            android:name=".NotificationReceiver"
            android:exported="true" />

        <activity android:name=".PopupActivity" />
        <receiver android:name=".NotificationDismissedReceiver" />
        <receiver android:name=".NotificationDismissedReceiver2" />


        <meta-data
            android:name="com.google.mlkit.vision.DEPENDENCIES"
            android:value="ocr, ocr_korean" />

    </application>

</manifest>